*{
    box-sizing:border-box;
}

.choice-container{
    display:flex;
    margin:10px;
    border:5px;
   font-size:20px;
    background-color:purple;
    color:aliceblue;
}


.choice-prefix{
    padding:20px;
    margin:10px;
    font-size:30px;
    background-color:black;
}
.choice-text{
    font-size:20px;
    padding:5px;
}

.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-align: center; 
}

.btn-primary{
    justify-content: center;
    align-items: center;
}
.btn-primary:hover{
    background-color: yellow;
}

#btn btn-primary:hover{
 background-color: yellow;
}

#quiz-finished {
display:none;
}

form{
    width:100%;
    display:flex;
    flex-direction: column;
}